<p id="notice"><%= notice %></p>

<h1>Listing Opn Tb Exam Values</h1>

<table>
  <thead>
    <tr>
      <th>Opn tb exam</th>
      <th>Opn tb item</th>
      <th>Opn tb answer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @opn_tb_exam_values.each do |opn_tb_exam_value| %>
      <tr>
        <td><%= opn_tb_exam_value.opn_tb_exam %></td>
        <td><%= opn_tb_exam_value.opn_tb_item %></td>
        <td><%= opn_tb_exam_value.opn_tb_answer %></td>
        <td><%= link_to 'Show', opn_tb_exam_value %></td>
        <td><%= link_to 'Edit', edit_opn_tb_exam_value_path(opn_tb_exam_value) %></td>
        <td><%= link_to 'Destroy', opn_tb_exam_value, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Opn tb exam value', new_opn_tb_exam_value_path %>
