<p id="notice"><%= notice %></p>

<p>
  <strong>Opn tb exam:</strong>
  <%= @opn_tb_exam_value.opn_tb_exam %>
</p>

<p>
  <strong>Opn tb item:</strong>
  <%= @opn_tb_exam_value.opn_tb_item %>
</p>

<p>
  <strong>Opn tb answer:</strong>
  <%= @opn_tb_exam_value.opn_tb_answer %>
</p>

<%= link_to 'Edit', edit_opn_tb_exam_value_path(@opn_tb_exam_value) %> |
<%= link_to 'Back', opn_tb_exam_values_path %>
