<p id="notice"><%= notice %></p>

<h1>Listing Opn Tb Answers Groups</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @opn_tb_answers_groups.each do |opn_tb_answers_group| %>
      <tr>
        <td><%= opn_tb_answers_group.name %></td>
        <td><%= link_to 'Show', opn_tb_answers_group %></td>
        <td><%= link_to 'Edit', edit_opn_tb_answers_group_path(opn_tb_answers_group) %></td>
        <td><%= link_to 'Destroy', opn_tb_answers_group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Opn tb answers group', new_opn_tb_answers_group_path %>
