<%= simple_form_for(@opn_tb_answers_groups_answer) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :opn_tb_answers_group %>
    <%= f.association :opn_tb_answer, :label_method => :initials, :value_method => :id %>
    <%= f.input :order %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
