<p id="notice"><%= notice %></p>

<p>
  <strong>Initials:</strong>
  <%= @opn_tb_gradation_level.initials %>
</p>

<p>
  <strong>Description:</strong>
  <%= @opn_tb_gradation_level.description %>
</p>

<%= link_to 'Edit', edit_opn_tb_gradation_level_path(@opn_tb_gradation_level) %> |
<%= link_to 'Back', opn_tb_gradation_levels_path %>
