<%= simple_form_for(@opn_tb_question) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :description %>
    <%= f.association :discipline %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
