<%= simple_form_for(@opn_tb_item) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :opn_tb, :label_method => :description, :value_method => :id %>
    <%= f.association :opn_tb_question, :label_method => :description, :value_method => :id %>
    <%= f.association :opn_tb_gradation_level %>
    <%= f.input :order %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
