<p id="notice"><%= notice %></p>

<p>
  <strong>Opn tb:</strong>
  <%= @opn_tb_item.opn_tb %>
</p>

<p>
  <strong>Opn tb question:</strong>
  <%= @opn_tb_item.opn_tb_question %>
</p>

<p>
  <strong>Opn tb gradation level:</strong>
  <%= @opn_tb_item.opn_tb_gradation_level %>
</p>

<p>
  <strong>Order:</strong>
  <%= @opn_tb_item.order %>
</p>

<%= link_to 'Edit', edit_opn_tb_item_path(@opn_tb_item) %> |
<%= link_to 'Back', opn_tb_items_path %>
