<p id="notice"><%= notice %></p>

<p>
  <strong>Opn tb:</strong>
  <%= @opn_tb_grade.opn_tb %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @opn_tb_grade.grade %>
</p>

<p>
  <strong>Year:</strong>
  <%= @opn_tb_grade.year %>
</p>

<p>
  <strong>Avaliation:</strong>
  <%= @opn_tb_grade.avaliation %>
</p>

<p>
  <strong>Final:</strong>
  <%= @opn_tb_grade.final %>
</p>

<%= link_to 'Edit', edit_opn_tb_grade_path(@opn_tb_grade) %> |
<%= link_to 'Back', opn_tb_grades_path %>
