<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @opn_tb.description %>
</p>

<p>
  <strong>Opn tb answers group:</strong>
  <%= @opn_tb.opn_tb_answers_group %>
</p>

<%= link_to 'Edit', edit_opn_tb_path(@opn_tb) %> |
<%= link_to 'Back', opn_tbs_path %>
