<p id="notice"><%= notice %></p>

<h1>Listing Opn Tb Field Experiences</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @opn_tb_field_experiences.each do |opn_tb_field_experience| %>
      <tr>
        <td><%= opn_tb_field_experience.description %></td>
        <td><%= link_to 'Show', opn_tb_field_experience %></td>
        <td><%= link_to 'Edit', edit_opn_tb_field_experience_path(opn_tb_field_experience) %></td>
        <td><%= link_to 'Destroy', opn_tb_field_experience, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Opn tb field experience', new_opn_tb_field_experience_path %>
