<p id="notice"><%= notice %></p>

<h1>Listing Opn Tb Answers</h1>

<table>
  <thead>
    <tr>
      <th>Initials</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @opn_tb_answers.each do |opn_tb_answer| %>
      <tr>
        <td><%= opn_tb_answer.initials %></td>
        <td><%= opn_tb_answer.description %></td>
        <td><%= link_to 'Show', opn_tb_answer %></td>
        <td><%= link_to 'Edit', edit_opn_tb_answer_path(opn_tb_answer) %></td>
        <td><%= link_to 'Destroy', opn_tb_answer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Opn tb answer', new_opn_tb_answer_path %>
