<p id="notice"><%= notice %></p>

<p>
  <strong>Initials:</strong>
  <%= @opn_tb_answer.initials %>
</p>

<p>
  <strong>Description:</strong>
  <%= @opn_tb_answer.description %>
</p>

<%= link_to 'Edit', edit_opn_tb_answer_path(@opn_tb_answer) %> |
<%= link_to 'Back', opn_tb_answers_path %>
