<% content_for :js do %>
  <%= javascript_include_tag 'views/individual_record_report/form' %>
<% end %>

<div class="widget-body no-padding">
  <%= simple_form_for @individual_record_report_form, url: individual_record_report_path, method: :post, html: { class: 'smart-form', target: '_blank', id: "individual-record-report-form" } do |f| %>
    <div class="alert alert-danger hidden" id="exam-rule-not-found-alert">
      <i class="fa fa-exclamation-circle fa-fw"></i>
      <%= t('.exam_rule_not_found') %>
    </div>

    <%= f.error_notification unless @individual_record_report_form.errors[:individual_frequencies].any? %>

    <div class="alert alert-danger <%= 'hidden' unless @individual_record_report_form.errors[:individual_frequencies].any? %>">
      <i class="fa fa-exclamation-circle fa-fw"></i>
      <%= @individual_record_report_form.errors[:individual_frequencies].first %>
    </div>

    <fieldset>
      <div class="row">
        <div class="col col-sm-4">
          <%= f.input :unity_id, as: :select2_unity, user: current_user %>
        </div>

        <div class="col col-sm-4">
          <%= f.input :classroom_id, as: :select2_classroom, user: current_user,
                input_html: { value: @individual_record_report_form.classroom_id } %>
        </div>

        <div class="col col-sm-4">
          <%= f.input :period, as: :select2_period, user: current_user %>
        </div>
      </div>


      <div class="row hide-when-global-absence">
        <%= f.input :current_teacher_id, as: :hidden, input_html: { value: current_teacher.try(:id) } %>

        <div class="col col-sm-4">
          <%= f.input :discipline_id, as: :select2_discipline, user: current_user,
                classroom_id: @individual_record_report_form.classroom_id,
                required: true, input_html: { value: @individual_record_report_form.discipline_id } %>
        </div>

        <div class="col col-sm-4">
          <div style="float:right;">
            <a href="#" style="text-decoration:none;" id="select-all-classes"><%= t('.select_all') %></a>
            <a href="#" style="display: none;text-decoration:none;" id="deselect-all-classes"><%= t('.deselect_all') %></a>
          </div>
          <%= f.input :class_numbers, as: :select2, multiple: true, elements: number_of_classes_elements(@number_of_classes), label_html: { class: 'required' }, input_html: { value: @individual_record_report_form.class_numbers, data: { without_json_parser: true } } %>
        </div>
      </div>

      <div class="row">
        <%= f.input :school_calendar_year, as: :hidden %>

        <div class="col col-sm-4">
          <% current_school_calendar = SchoolCalendar.find_by(unity: current_user_unity, year: current_user_school_year)%>
          <% puts "calendario #{SchoolCalendarStep.where( school_calendar_id: current_school_calendar.id ).where( step_number: 1).first.start_date_for_posting}" %>
          <%= f.input :start_at, as: :date, input_html: {value: SchoolCalendarStep.where( school_calendar_id: current_school_calendar.id ).where( step_number: 1).first.start_at.strftime("%d/%m/%Y")} %>          
        </div>

        <div class="col col-sm-4">
          <%= f.input :end_at, as: :date, input_html: {value: SchoolCalendarStep.where( school_calendar_id: current_school_calendar.id ).where( step_number: 4).first.end_at.strftime("%d/%m/%Y")} %>
        </div>

        <div class="col col-sm-4">
          <%= f.input :student_id, as: :select2, elements: students, input_html: { value: @individual_record_report_form.student_id } %>
        </div>        
      </div>
    </fieldset>

    <footer>
      <%# <%= f.submit 'Imprimir', class: 'btn btn-primary' % > %>
      <div class="btn-group pull-right dropup">
				<button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
					Imprimir
          <span class="caret"></span>
				</button>
				<ul class="dropdown-menu dropdown-menu-right">
					<li>
            <a href="javascript:void(0);" id="editable-document">Texto/Planilha</a>
					</li>
					<li>
						<a href="javascript:void(0);" id="readonly-document">PDF</a>
					</li>
				</ul>
			</div>      
    </footer>
  <% end %>
</div>
