<div class='widget-body no-padding'>
  <%= simple_form_for :filter, { url: opn_tb_exams_path, method: :get,
    html: { class: 'filterable_search_form' } } do |f| %>
    <div class='table-responsive'>
      <table id='resources' class='table table-bordered table-only-inner-bordered table-striped table-condensed table-hover'>
        <thead>
          <tr>
            <td></td>
            <td></td>
            <td>
              <%= f.input :by_student_name, label: false, placeholder: t('.by_student_name') %>
            </td>
            
            <td>
              <%#= f.input :by_step, as: :select2_step, classroom: current_user_classroom, label: false, placeholder: t('.by_step') %>
            </td>
            <!--
            
            <td>
              <%#= f.input :by_status, as: :select2, elements: ConceptualExamStatus.to_select.to_json, label: false, placeholder: t('.by_status') %>
            </td>
            -->

            <!-- 
            <td>
              <%= link_to 'Nova tabela', new_opn_tb_exam_path, class: 'btn btn-primary pull-right' %>
            </td>
            -->
            <td>
              <div class="btn-group pull-right dropdown">
                <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                  Nova tabela
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li>
                    <a href="tabelas-de-pareceres/novo">Avaliação</a>
                  </li>
                  <li>
                    <a href="tabelas-de-pareceres/novo_asp">Aspectos atitudinais</a>
                  </li>
                  <li>
                    <a href="tabelas-de-pareceres/novo_final">Avaliação final</a>
                  </li>                  
                </ul>
              </div>            
            </td>
          </tr>

          <tr>
            <th><%= OpnTbExam.human_attribute_name :unity_id %></th>
            <th><%= OpnTbExam.human_attribute_name :classroom %></th>
            <th><%= OpnTbExam.human_attribute_name :student %></th>
            <th><%= OpnTbExam.human_attribute_name :step %></th>
            <td width='160px'></td>
          </tr>
        </thead>

        <%= render 'resources' %>

        <tfoot id='paginator' class='remote'>
          <td colspan='7'>
          <!--
            <div id='page_entries_info' class='pull-left hidden-xs'>
              <%#= page_entries_info @opn_tb_exams %>
            </div>
            

            <div class='pull-right'>
              <%#= paginate @opn_tb_exams %>
            </div>
            -->
          </td>
        </tfoot>
      </table>
    </div>
  <% end %>
</div>
